
main {
  background-color: #191c19;
  color: white;
  .container {
    width: 1000px;
  }
}

main li {
  background-color: $black;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 220px;
}

.poster {
  height: 200px;
  img {
    height: 100%;
  }
}

.title,
.author,
.year,
.genre {
  margin-top: 10px;
}
